html,
body {
  background-color: lightgray;
}

/*
  The following sidenav stuff was shamelessly ripped from:
  https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/

/* Main page content */
.content {
  margin-left: 160px; /* Same as the sidenav width... */
  padding-left: 10px; /* ... plus its left padding */
}

/* The sidenav menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  padding-left: 10px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The sidenav links & heading */
.sidenav a,
h2 {
  padding: 6px 8px 6px 16px; /* top-right-bottom-left */
  text-decoration: none;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: lightgray;
}

/* On smaller screens, where height is less than 450px, change the style of the
sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
  .sidenav h2 { font-size: 24px; }
}

/* Resize images with a certain alt text (this is a way to resize images linked
in Markdown) */
img[alt=rss-feed] { width: 25px; }
